.TimePicker {
  display: inline-block;
  width: 150px;
  margin-right: 5px;
}

.TimePicker:not(:first-of-type) {
  margin-left: 5px;
}

.TimePicker select, .TimePicker .form-group {
  display: inline-block;
  width: 65px;
}
